<h3>Categories</h3>
<ul id="category-list">
	<li {% if page.title == "All Posts" %} class="active page_item" {% endif %} class="page_item"><a href="/blog/categories/all-posts">All Posts</a></li>
	<li {% if page.title == "Android" %} class="active page_item" {% endif %} class="page_item"><a href="/blog/categories/android">Android</a></li>
	<li {% if page.title == "Business" %} class="active page_item" {% endif %} class="page_item"><a href="/blog/categories/business">Business</a></li>
	<li {% if page.title == "Continuous Delivery" %} class="active page_item" {% endif %} class="page_item"><a href="/blog/categories/continuous-delivery">Continuous Delivery</a></li>
	<li {% if page.title == "Process" %} class="active page_item" {% endif %} class="page_item"><a href="/blog/categories/process">Process</a></li>
	<li {% if page.title == "Rails" %} class="active page_item" {% endif %} class="page_item"><a href="/blog/categories/rails">Rails</a></li>
	<li {% if page.title == "Technology" %} class="active page_item" {% endif %} class="page_item"><a href="/blog/categories/technology">Technology</a></li>
</ul>
