<h3>Mobile Applications</h3>
<ul id="category-list">
	<li {% if page.title == "Ape That Shape" %} class="active page_item" {% endif %} class="page_item"><a href="/mobile-apps/ape-that-shape/">Ape That Shape</a></li>
	<li {% if page.title == "Image Distorter" %} class="active page_item" {% endif %} class="page_item"><a href="/mobile-apps/image-distorter">Image Distorter</a></li>
	<li {% if page.title == "Hold That Thought" %} class="active page_item" {% endif %} class="page_item"><a href="/mobile-apps/hold-that-thought">Hold That Thought</a></li>
</ul>