<h3>Web Applications</h3>
<ul id="category-list">
	<li {% if page.title == "iComp" %} class="active page_item" {% endif %} class="page_item"><a href="/web-applications/icomp">iComp</a></li>
	<li {% if page.title == "CalendarCruncher" %} class="active page_item" {% endif %} class="page_item"><a href="/web-applications/calendarcruncher">CalendarCruncher</a></li>
	<li {% if page.title == "ElixirHealth" %} class="active page_item" {% endif %} class="page_item"><a href="/web-applications/elixirhealth">ElixirHealth</a></li>
	<li {% if page.title == "Publink" %} class="active page_item" {% endif %} class="page_item"><a href="/web-applications/publink">Publink</a></li>
	<li {% if page.title == "Chella Software" %} class="active page_item" {% endif %} class="page_item"><a href="/web-applications/chella-software">Chella Software</a></li>
	<li {% if page.title == "Excion Corporation" %} class="active page_item" {% endif %} class="page_item"><a href="/web-applications/excion-corporation">Excion Corporation</a></li>
</ul>