---
layout: default
title: "Why Us? - Collaboration"
date: 2012-09-18 11:40
comments: true
sharing: true
footer: true
nav: "Why Us?"
---
<div class="span9">
  <a name=top></a>
  <h1>Why Us?</h1>

  <div id="team" class="google-presentation">
    <h1>Team</h1>
    <iframe src="https://docs.google.com/presentation/d/1vaFB-ijb2w4XO0n-gIz2gtlQTESN_3upkhuRAKrNlSM/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <div>
      <a href="#top" class="go-to-top">go to top</a>
    </div>
  </div>

  <div id="collaboration" class="google-presentation">
    <h1>Collaboration</h1>
    <iframe src="https://docs.google.com/presentation/d/10WTcKG5w9IRXw38hhrFWt6UtHC2MAeM11vGlNGju4io/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <div>
      <a href="#top" class="go-to-top">go to top</a>
    </div>
  </div>
  
  <div id="communication-tools" class="google-presentation">
    <h1>Communication Tools</h1>
    <iframe src="https://docs.google.com/presentation/d/1eFmKEBOhkiMhN7jFgWydJ-lBe0qT6AjnIVTXToFQ3JM/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <div>
      <a href="#top" class="go-to-top">go to top</a>
    </div>
  </div>

{% include why-us.html %}
</div>
<div class="sidebar-nav span3">
  {% include_array why_us_asides %}
</div>
