---
layout: default
title: "Why Us?"
date: 2012-09-18 11:40
comments: true
sharing: true
footer: true
nav: "Why Us?"
---
<div class="span9">
  <a name=top></a>
  <h1>Why Us?</h1>
  <div id="the-big-picture" class="google-presentation">
    <h1>The Big Picture</h1>
    <iframe src="https://docs.google.com/presentation/d/1I-VuAdcIXIoIlackk9cDHohZTjJ_gg8bVZTjfGGWkAE/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>

  <div id="idea_to_reality" class="google-presentation">
    <h1>Idea to Reality in 8 Weeks</h1>
    <iframe src="https://docs.google.com/presentation/d/1PpWWX4SdVwby9xErViMhjPXrnf1ZIPxmQpo-royxnbw/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <div>
      <a href="#top" class="go-to-top">go to top</a>
    </div>
  </div>

  <div id="team" class="google-presentation">
    <h1>Team</h1>
    <iframe src="https://docs.google.com/presentation/d/1vaFB-ijb2w4XO0n-gIz2gtlQTESN_3upkhuRAKrNlSM/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <div>
      <a href="#top" class="go-to-top">go to top</a>
    </div>
  </div>

  <div id="collaboration" class="google-presentation">
    <h1>Collaboration</h1>
    <iframe src="https://docs.google.com/presentation/d/10WTcKG5w9IRXw38hhrFWt6UtHC2MAeM11vGlNGju4io/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <div>
      <a href="#top" class="go-to-top">go to top</a>
    </div>
  </div>
  
  <div id="communication-tools" class="google-presentation">
    <h1>Communication Tools</h1>
    <iframe src="https://docs.google.com/presentation/d/1eFmKEBOhkiMhN7jFgWydJ-lBe0qT6AjnIVTXToFQ3JM/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <div>
      <a href="#top" class="go-to-top">go to top</a>
    </div>
  </div>

  <div id="technologies-and-tools" class="google-presentation">
    <h1>Technologies and Tools</h1>
    <iframe src="https://docs.google.com/presentation/d/1O8As9pYHAUfn13LYgc1qreV6SW3EN528bLbChkoEzWc/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <div>
      <a href="#top" class="go-to-top">go to top</a>
    </div>
  </div>

  <div id="sustainable-engineering" class="google-presentation">
    <h1>Sustainable Engineering</h1>
    <iframe src="https://docs.google.com/presentation/d/1xq52hSHgaZ-1Pp0Nc0uxe8-XqKHBEPVNpMDbhDFmyhk/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <div>
      <a href="#top" class="go-to-top">go to top</a>
    </div>
  </div>

  <div id="continuous-delivery" class="google-presentation">
    <h1>Continuous Delivery</h1>
    <iframe src="https://docs.google.com/presentation/d/1gR6fVpaOJ9DdzZylNZnfJjL4lX1vl4THfhNAdw2oAfs/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <div>
      <a href="#top" class="go-to-top">go to top</a>
    </div>
  </div>

  <div id="tdd-and-cd-in-action" class="span10" style="margin-left:-0.264%;">
    <h1>TDD and CD in Action! (27 minutes)</h1>
      <div id="iframe-session-player"></div>
    <div>
      <a href="#top" class="go-to-top video-go-to-top">go to top</a>
    </div>
  </div>

  <div id="culture" class="google-presentation">
    <h1>Culture</h1>
    <iframe src="https://docs.google.com/presentation/d/1v0rQ_BWjW09FpDO4r_3B4ITfZQ4ReFYED7SaDWudAoM/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <div>
      <a href="#top" class="go-to-top">go to top</a>
    </div>
  </div>
{% include why-us.html %}
</div>
<div class="sidebar-nav span3">
  {% include_array why_us_asides %}
</div>
