<section class="well">
  <ul id="tumblr_post" class="nav">
    <li class="nav-header"></li>
    <li class="loading">Fetching...</li>
  </ul>
  <div id="after-tumblr-widget"><a href="http://multunus.tumblr.com/">Continue reading at our tumblog</a></div>
  <script type="text/javascript">
    $(document).ready(function(){
      getTumblrPost("{{site.tumblr_user}}", {{site.tumblr_post_count}});
    });
  </script>
  <script src="/javascripts/asides/tumblr.js" type="text/javascript"> </script>
</section>
