<h1>
  {{ page.name }}
</h1>
<div id="profile" class="row-fluid">
  <div class="span4 profile-photo">
    {% if page.image %}
      <img src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" />
    {% endif %}
  </div>

  <div class="profile-bio">

    {{ page.bio }}

    <ul>
      {% if page.linkedin %}
        <li><a href="http://www.linkedin.com/in/{{ page.linkedin }}">Connect on LinkedIn</a></li>
      {% endif %}

      {% if page.twitter %}
        <li><a href="http://twitter.com/{{ page.twitter }}">Follow on Twitter</a></li>
      {% endif %}

      {% if page.github %}
        <li><a href="http://github.com/{{ page.github }}">Follow on GitHub</a></li>
      {% endif %}
    </ul>
  </div>
</div>
