<ul class="nav"><li class="copyright">&copy;2012 Copyright by Multunus Software Private Limited.</li></ul>

<ul class="nav pull-right">
  <li><a href="{{ root_url }}/">Home</a></li>	
  <li><a href="{{ root_url }}/what-we-do">What We Do</a></li>
  <li><a href="{{ root_url }}/why-us">Why Us?</a></li>
  <li><a href="{{ root_url }}/careers-multunus">Careers</a></li>
  <li><a href="{{ root_url }}/about">About</a></li>
  <li><a href="{{ root_url }}/blog">Our Blog</a></li>
  <li><a href="{{ root_url }}/contact">Contact</a></li>
</ul>
