<div class = "row">
	<div class = "span4">
		<p class = "copyright">
			&copy;2012 Copyright by Multunus Software Private Limited.
		</p>
	</div>
	<div class = "span6 offset1">
		<ul class="nav">
			<li><a href="{{ root_url }}/">Home</a></li>	
 		 	<li><a href="{{ root_url }}/blog/what-we-do">What We Do</a></li>
		  	<li><a href="{{ root_url }}/blog/why-us">Why Us?</a></li>
		  	<li><a href="{{ root_url }}/blog/careers">Careers</a></li>
 		 	<li><a href="{{ root_url }}/blog/about">About</a></li>
 		 	<li><a href="{{ root_url }}/blog/blog">Our Blog</a></li>
 		 	<li><a href="{{ root_url }}/blog/contact">Contact</a></li>
		</ul>

	</div>
</div>