<ul class="nav">
	<li class="active"><a href="{{ root_url }}/">Home</a></li>	
  	<li><a href="{{ root_url }}/blog/what-we-do">What We Do</a></li>
  	<li><a href="{{ root_url }}/blog/why-us">Why Us?</a></li>
  	<li><a href="{{ root_url }}/blog/careers">Careers</a></li>
  	<li class="dropdown">
  	  <a href="{{ root_url }}/blog/about">About</a>
          <ul class="dropdown-menu">
            <li><a href="{{ root_url }}/blog/about/history">History</a></li>
            <li><a href="{{ root_url }}/blog/about/people">People</a></li>
          </ul>
        </li>
  	<li><a href="{{ root_url }}/blog">Our Blog</a>
  	<li class="dropdown">
          <a href="{{ root_url }}/blog/contact-us">Contact</a>
          <ul class="dropdown-menu">
            <li><a href="{{ root_url }}/blog/contact-us/contact">Write to Us</a></li>
            <li><a href="{{ root_url }}/blog/contact-us/location">Location</a></li>
          </ul>
        </li>
</ul>
