<ul class="nav">
	<li class="active"><a href="{{ root_url }}/">Home</a></li>	
  <li><a href="{{ root_url }}/what-we-do">What We Do</a></li>
  <li><a href="{{ root_url }}/why-us">Why Us?</a></li>
  <li><a href="{{ root_url }}/careers">Careers</a></li>
  <li class="dropdown">
    <a href="{{ root_url }}/about">About</a>
    <ul class="dropdown-menu">
      <li><a href="{{ root_url }}/about/history">History</a></li>
      <li><a href="{{ root_url }}/about/people">People</a></li>
    </ul>
  </li>
  <li><a href="{{ root_url }}/blog">Our Blog</a></li>
  <li class="dropdown">
      <a href="{{ root_url }}/contact-us">Contact</a>
      <ul class="dropdown-menu">
        <li><a href="{{ root_url }}/contact-us/contact">Write to Us</a></li>
        <li><a href="{{ root_url }}/contact-us/location">Location</a></li>
      </ul>
  </li>
  <li id="facebook"> 
    <a href="https://www.facebook.com/multunus" title="facebook">
      <img src="images/facebook_white_icon.png" alt="facebook" />
    </a>
  </li> 
  <li id="twitter"> 
    <a href="http://twitter.com/multunus" title="twitter">
      <img src="images/twitter_white_icon.png" alt="twitter" />
    </a>
  </li>   
</ul>