.footer-container{
}

.footer-top{
	background-color :#222;
	padding-top : 2%;
	padding-bottom :2%;
}

.footer-content{
	margin-left :16%;
}

.footer-navbar-inner{

	background-color : #222;
	background-image: -moz-linear-gradient(top, #222, #222);
	background-image: -ms-linear-gradient(top, #222, #222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#222));
	background-image: -webkit-linear-gradient(top, #222, #222);
	border-top: 5px solid #292929;
	
}

.copyright{
	margin-top : 3%;
}