.navbar{

	border-bottom: 1px solid #221a1a;
}

.navbar-inner {
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border-radius : 0px;

  background-color: #222;
  border-bottom: 1px solid #383838;


}



.nav{
	padding-left : 15%;
}

