.header-navbar{

	border-bottom: 1px solid #221a1a;
}

.header-navbar-inner {
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border-radius : 0px;

  background-color: #222;
  border-bottom: 1px solid #383838;


}



.nav{
	padding-left : 15%;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}
.navbar .dropdown-menu {
 margin-top: 0px;
 padding: 0;
}
.dropdown-menu {
     background-color: #333;
}    
.dropdown-menu li a{
     color: white; 
     padding: 5px 8px;
     font-family: arial,sans-serif;  
     font-size: 12px;  
     border: 1px solid rgba(149,149,149,0.2);
}
.navbar .nav > li > .dropdown-menu::after {
        top: -8px;
        border-right: 10px solid transparent;
        border-bottom: 8px solid rgba(149,149,149,0.4);
        border-left: 10px solid transparent;        
}
