.logo {
	text-align: center;
}

.two-images {
	padding-top: 4%;
	padding-bottom: 1%;
	margin: auto;

	.image-text {
		padding: 10px;
		color: white;
		font-size: 1.25em;
		font-weight: bold;
		text-align: center;
	}
}

.first-image, .second-image {
	background-repeat: no-repeat;
	background-color: #666666;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
	margin-bottom: 4%;

	img {
		width: 100%;
	}
}

.about_us {
	color: white;
	line-height: 140%;
	font-size: 1.4em;	
	text-align: center;
	margin-bottom: 4.5%;
	a { 
		color: white;
		text-decoration: underline;
	}
}

.testimonial-container {
	color: white;
	padding-top: 1.5%;
	text-align: center;
}

.we-love-working-with {
	font-size: 3em;
	line-height: 101%;
	text-align: center;
	margin-top: 82px;
	margin-bottom: 50px;
}

.we-love-working-with img {
	max-width: 90px;
	margin: 18px;
}

.testimonial-icons {
	font-size: 1.5em;
	margin-bottom: 15px;
}

.testimonial-icons .startups{
	margin-bottom: 55px;				
}

.testimonial-icons img {
	margin: 2px;
}

.startups p, .smes_partners_big_fellows p {
	margin-bottom: 20px;
}

.modal {
	background: #222 url("/images/concrete.png") repeat left top scroll;
} 

.tumblr-feed {
	position:relative;

	#tumblr_post {
		overflow: hidden;
		height: 345px;
		color: #959595;
	}
	#after-tumblr-widget {
		padding-left: 6%;
	}	
}

.twitter-feed {
	#tweets {
		color: #959595;
		li {
			border-bottom: 1px dotted #444;
			margin-bottom: 5px;
		}
	}
}

.rounded-corner-container {
	margin-bottom: 10px;
 	.row-fluid .blog-posts {
		padding-left: 3%;
	}
}

.main-content > .row-fluid:first-child {
	background: white;
	border-radius: 10px;
	.span9 {
		padding: 3% 3% 3% 3%;

		blockquote {
			background: #4D4D4D url('/images/utilities/blockquote-light.png') 18px 14px no-repeat;
			font-style: italic;
			color: white;
			padding: 0 15px 20px 50px;
			border: none;
		}

		ul li {
			list-style-type: square;
			padding-bottom: 5px;
		}

		p {
			line-height: 20px;
			margin-bottom: 20px;
		}
	}

	.sidebar-nav {
		padding: 3% 0 3% 3%;	

		@media (max-width: 767px) {
			padding-right: 3%;

			ul li {
				border-radius: 3px;
			}
		}
	}
	.span12 {
		padding: 3% 3% 3% 3%;
	}
}

.featured-posts, .tumblr-feed, .twitter-feed {
	@media (max-width: 767px) {
	    border-bottom: 4px solid #292929;   
	}
	margin-bottom: 3%;

	.header {
	    font-size: 1.25em;
	    font-weight: bold;
	    color: white;
	    margin-bottom: 5%;
	    text-align: center;
	}

	.media {
		text-align: center;
	}

	#continue-reading {
		background: url('/images/utilities/black-gradient-bar-bg.png') repeat-x 0px -9px;
		text-align: center;
		position: absolute;
		height: 80px;
		padding-top: 50px;
		bottom: -50px;
		width: 100%;

		a {
			font-size: 0.75em;
			font-weight: bold;
			color: white;
		}

		a:hover {
			color: white;
		}
	}

	ul {
		font-size: 0.75em;
		font-weight: bold;
		margin-right: 25px;
		overflow: hidden;

		li {
			a {
				color: #959595;
			}

			a:hover {
				color: #DD0000;
			}
		}
	}
}

.featured-posts, .tumblr-feed{
	ul {
		list-style: none;
	}	
} 

.featured-posts {
	position: relative;

	li {
		content: "";
		border-color: transparent transparent transparent #D00;
		border-style: solid;
		border-width: 6px 0px 6px 6px;
		position: relative;
		top: 4px;
		left: 0px;
		height: 0;
		//width: 0;
		padding-left: 2%;
		margin-bottom: 25px;

		a {
			position: relative;
			top: -10px;
		}
	}
}

.small-logo {
	padding-top: 5px !important;
}