.logo {
	text-align: center;
}

.two-images {
	padding-top: 4%;
	padding-bottom: 1%;
	width: 97%;
	margin: auto;

	.image-text {
		padding: 10px;
		color: white;
		font-size: 1.4em;
		font-weight: bold;
		text-align: center;
	}

	.second-image {
		float: right !important;
	}
}

.first-image, .second-image {
	background-repeat: no-repeat;
	background-color: #666666;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
	margin-bottom: 4%;
	max-width: 478px;
}

.about_us {
	color: white;
	line-height: 140%;
	font-size: 1.6em;	
	text-align: center;
	margin-bottom: 4.5%;
	a { 
		color: white;
		text-decoration: underline;
	}
}

.testimonial-container {
	color: white;
	padding-top: 1.5%;
	text-align: center;
}

.we-love-working-with {
	font-size: 3.4em;
	line-height: 101%;
	text-align: center;
	margin-top: 82px;
}

.we-love-working-with img {
	max-width: 90px;
	margin: 18px;
}

.testimonial-icons {
	font-size: 1.7em;
}

.testimonial-icons .startups{
	margin-bottom: 55px;				
}

.testimonial-icons img {
	margin: 2px;
}

.startups p, .smes_partners_big_fellows p {
	margin-bottom: 20px;
}

.modal {
	background: #222 url("/images/concrete.png") repeat left top scroll;
} 

.tumbler-feed {
	 #tumblr_post {
		overflow: hidden;
		height: 300px;
		color: #959595;
	}
	#after-tumblr-widget {
		padding-left: 6%;
	}	
}

.twitter-feed {
	#tweets {
		color: #959595;
		li {
			border-bottom: 1px dotted #444;
			margin-bottom: 5px;
		}
	}
}

.rounded-corner-container {
	margin-bottom: 10px;
 	.row-fluid .blog-posts {
		padding-left: 3%;
	}
}

.main-content > .row-fluid:first-child {
	background: white;
	border-radius: 10px;
	.span9, .sidebar-nav {
		padding: 3% 0 3% 3%;
	}
	.span12 {
		padding: 3% 3% 3% 3%;
	}
}

.featured-posts, .tumblr-feed, .twitter-feed {
	margin-bottom: 5%;

	.header {
	    font-size: 1.4em;
	    font-weight: bold;
	    color: white;
	    margin-bottom: 8%;
	    text-align: center;
	}

	.media {
		text-align: center;
	}

	#continue-reading {
		text-align: center;

		a {
			font-size: 0.85em;
			font-weight: bold;
			color: white;
		}

		a:hover {
			color: white;
		}
	}

	ul {
		font-size: 0.85em;
		font-weight: bold;

		li {
			a {
				color: #959595;
			}

			a:hover {
				color: #DD0000;
			}
		}
	}
}

.featured-posts, .tumblr-feed{
	ul {
		list-style: none;
	}	
} 

.featured-posts {
	position: relative;

	li {
		content: "";
		border-color: transparent transparent transparent #D00;
		border-style: solid;
		border-width: 6px 0px 6px 6px;
		position: relative;
		top: 4px;
		left: 0px;
		height: 0;
		//width: 0;
		padding-left: 2%;
		margin-bottom: 25px;

		a {
			position: relative;
			top: -10px;
		}
	}
}

.small-logo {
	padding-top: 5px !important;
}