.team-modal-container {
	.modal {
		background: white;

		@media (min-width: 768px) {
			width: 65%;
			left: 17.5%;
			margin-left: auto;
		}

		.modal-body {
			font-size: 1em;
			color: #222222;
			padding: 15px 60px 10px 60px;

			ul li {
				list-style-type: square;
				padding-bottom: 5px;
			}
		}
	}
}


.modal {
	background: #222 url("/images/concrete.png") repeat left top scroll;
	position: fixed; 

	@media (max-width: 767px) {
		top: auto !important; 
		right: 3%; 
		left: 3%; 
		bottom: 3%; 
		width: auto; 
		margin: 0; 
	}

	@media (max-width: 480px) {
		top: 4% !important; 
	}

	@media (min-width: 768px) {
		width: 77%;
		left: 11.5%;
		margin-left: auto;
	}

	.dark-border {
		border: 8px solid #505050;
	}

	.light-border {
		border: 1px solid #898989;
	}

	.shadow {
		-moz-box-shadow:    0px 0px 3px 4px #363636;;
  		-webkit-box-shadow: 0px 0px 3px 4px #363636;
	  	box-shadow:         0px 0px 3px 4px #363636;
	}

	blockquote {
		border: none;
	}

	.iframe-video, .project-screen-shot {
		margin: 20px 0;
		text-align: center;
	}

	.project-screen-shot img {
		max-width: 45.5%;
	}

	.close {
		background: url(/images/controls.png) no-repeat -100px -25px;;
		width: 23px;
		height: 23px;
		opacity: 1;
		position: absolute;
		right: 2px;
		bottom: 2px;
	}
	.close:hover {
		background-position: -100px 0px;
	}
} 

.modal-body {
	border-radius: 0px 0px 3px 3px;	
	border: 6px solid white;
	font-size: 1.05em;
	color: white;
	padding: 30px 120px 20px 120px;
	text-align: justify;

	@media (max-width: 979px) {
		padding: 15px;
	}

	a { 
		color: white;
		text-decoration: underline;
	}
	.loading-image {
		background: url(/images/loading.gif);
	}
}

.modal-footer {
	border-radius: 3px 3px 0px 0px;
	padding: 5px 5px 5px 0px;
	background-color: #E6E5E5;
	position: relative;
}

.modal_title {
	float: left;
	color: #7C7C7C;
	font-size: 1.25em;
	font-weight: bold;	
	width: 100%;
	text-align: center;
}


