// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
	padding-bottom: 0px;
	font-family: $font-default;
	background: #222 url("/images/concrete.png") repeat left top scroll;
}



