// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
	background: #222 url("/images/concrete.png") repeat left top scroll;
	padding-bottom: 0px;
	font-family: $font-default;
}

.texture-background {
	background: #222 url("/images/concrete.png") repeat left top scroll;
	min-height: 552px;	
}

.mesh-background {
	background: #222 url("/images/mesh.png") repeat left top scroll;	
	min-height: 450px;
}

.relative {
	position: relative;
}

.absolutes {
	top: 60px;
	left: 72px;
	background: white;
	border-radius: 6px;
}

@media (min-width: 767px) {
	.container-fluid {
        padding-right: 165px;
        padding-left: 165px;
	}
}

@media (max-width: 767px) {
	.navbar {
		margin-left: -20px;
		margin-right: -20px;
	}
}

form {
	input {
		width: 40%;
	}
	textarea {
		width: 60%;
	}
}

.invalid {
	color: rgb(231, 100, 100);
}

.main-content {
	padding-bottom: 20px;
}

.nav .nav-header {
	text-transform: none;
}

.well {
	background: none;
	.header {
	    font-size: 1.4em;
	    font-weight: normal;
	    color: white;
	    margin-bottom: 8%;
	    text-align: center;
	}

	li {
	    line-height: 20px;
	    margin-bottom: 8px;
	    font-size: 0.85em;
	    font-weight: bold;
	    a {
	       color: #959595 !important; 
	    }
	}
}