// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
	background: #222 url("/images/concrete.png") repeat left top scroll;
	padding-bottom: 0px;
	font-family: $font-default;
	line-height: 20px;
}

.texture-background {
	background: #222 url("/images/concrete.png") repeat left top scroll;
	min-height: 552px;	
}

.mesh-background {
	background: #222 url("/images/mesh.png") repeat left top scroll;	
	min-height: 415px;
}

.dark-background {
	background: #111111;
	padding-top: 3.2%;
	border-top: 4px solid #292929;
	border-bottom: 4px solid #292929;
}

.relative {
	position: relative;
}

.absolutes {
	top: 60px;
	left: 72px;
	background: white;
	border-radius: 6px;
}

@media (min-width: 980px) {
	.container-fluid {
        //padding-right: 165px;
        //padding-left: 165px;
        padding-right: 12%;
        padding-left: 12%;
	}
}

@media (max-width: 767px) {
	.navbar {
		margin-left: -20px;
		margin-right: -20px;
	}
}

form {
	input {
		width: 40%;
	}
	textarea {
		width: 60%;
	}
}

.invalid, .failure {
	color: #BD3939;
}

.success {
	color: green;
}

.main-content {
	padding-bottom: 20px;
	color: black;

	p, ul, .span9, .team {
		a {
			color: #DD0000;
		}
	}
	

	p > iframe {
		width: 77%;
		height: 360px
	}
}

.nav .nav-header {
	text-transform: none;
}

.well {
	background: none;
	.header {
	    font-size: 1.4em;
	    font-weight: normal;
	    color: white;
	    margin-bottom: 8%;
	    text-align: center;
	}

	li {
	    line-height: 20px;
	    margin-bottom: 8px;
	    font-size: 0.85em;
	    font-weight: bold;
	    text-align: left;
	    a {
	       color: #959595 !important; 
	    }
	}
}

.team {
	img {
		width: 95%;
		border: 1px solid darkGray;
		padding: 4px;
	}

	img:hover {
		border: 5px solid darkGray;
		padding: 0;
	}

	p {
		text-align: center;
		padding: 2% 4% 4% 4%;
		font-size: 1.2em;
	}
}

.row-fluid [class*="span"]:nth-child(4n + 1) {
	margin-left: 0;
}


@media (min-width: 980px) {
	.navbar .nav > li > a, .copyright {
		padding: 9.5px 10px 9.5px;
	}
}

ul.nav li{
	color: white;

	a {
		color: white !important;
	}

	a:hover {
		color: #DD0000 !important;
	}
}
 
.footer-navbar {
	margin-bottom: 0;

	.footer-container .nav{
		li {
			a:hover {
				text-decoration: underline;
			}
		}
	}
}

ul.dropdown-menu{
	li{
		a:hover {
			color: white !important;
			background-color: #222;
		}	
	} 	
} 

nav {
	font-weight: bold;
}

ul.nav li.active > a {
	color: #DD0000 !important;
}

.sidebar-nav {
	h3 {
		margin-bottom: 9px;
	}
	ul {
		margin: 0;
		list-style: none;

		li {
			background-color: #999999;
			margin-bottom: 3px;
			padding: 9px 0 9px 9px;
			font-size: 1.2em;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			margin-right: 1px;
		}

		li.active {
			background-color: #333333;
		}

		a {
			color: white;
		}

		a:hover {
			text-decoration: none;
		}
	}
}

.fb-like-box {
	margin-top: 60px;
}

.entry-title {
	a {
		color: black !important;
	}

	a:hover {
		text-decoration: none;
		color: #DD0000 !important; 
	}
}

.profile-photo {
	margin: 0 30px 20px 0;
}